{% extends "base.html"%}
{% block content %}

<div class="jumbotron">

    <h1 style="color:black;">About Manual Model</h1>
    <br>
    <p>
    <h2>How The Model Works</h2><br>
    Under this mode, a worker will watch the video of the task. And give a score base on how the participant finish the task. <br>
    In our demo, we designed a form to let worker input the scores. <br>
    Our model use this data to train and test the model performance. In the evaluate phase, the model achieved 68% accuracy.<br>
    <b>The prediction is not an medical diagnosis, it just remind user to pay attention to health status.</b>
    </p>
    <br>

    <p>
    <h2>The Algorithm</h2><br>
    We use XGBoost model to implement the machine learning model.<br>
    XGBoost is a decision-tree-based ensemble Machine Learning algorithm that uses a gradient boosting framework. <br>
    In prediction problems involving unstructured data (images, text, etc.), artificial Neural Networks tend to <br>
    outperform all other algorithms. However, when it comes to small-to-medium data, decision tree based algorithms <br>
    are considered best-in-class right now. 
    </p>

</div>

{% endblock %}
