{% extends "base.html"%}
{% block content %}

<div class="jumbotron">

    <h1>Oops... there is some problem with our app!</h1>
    <p>Sorry, our app is not working right now... <br>
    Please try again later!<br>
    Thank you for your understanding.</p>

    <p>
      Please note, this is not a accurate diagnosis. <br>
      We just use machine learning technique to make a quick evaluation.<br>
      If you feel like there is issue with your health, please visit your<br>
      doctor to conduct a thorough medical examination. 
    </p>

</div>

{% endblock %}
